@media only screen and (min-width: 768px)  {
    #Title {
        font-family: 'Tetris';
        font-size: 180px;
    }
    
    #StartButton {
        font-size: 50px;
        color: white;
        padding-right: 45px;
        padding-left: 45px;
    }

    #Start {
        padding: 0px;
        width: 100vw;
        height: 100vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Game {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    
    #Matrix {
        display: grid;
        grid-template-columns: repeat(10, 25px);
        grid-template-rows: repeat(15, 25px);
        padding: 2px;
        background-color: white;
        border: 20px solid #333;
        border-radius: 5px;
    }
    
    .cell {
        background-color: black;
        /*margin: 1px;*/
        /*border-radius: 4px;*/
        width: 25px;
        height: 25px;
    }

    #left-panel {
        margin-right: 50px;
    }

    #left-panel > div {
        border: 10px solid black;
    }

    #social-buttons {
        font-size: 45px;
        background-color: white;
        border: 5px solid black;
        margin-top: 30px;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
    }
    
    #social-buttons > a {
        padding: 20px;
    }

    #right-panel {
        margin-left: 50px;
    }

    #right-panel > div > div {
        border: 10px solid black;
    }

    #MobileControls {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #MobileControls > div > button {
        border-radius: 5px !important;
        width: 75px !important;
        margin: 2px !important;
        touch-action: manipulation  !important;
        font-size: 50px !important;
        border: 2px solid black
    }
}

@media only screen and (max-width: 767px)  {
    #Title {
        font-family: 'Tetris';
        font-size: 120px;
    }
    
    #StartButton {
        font-size: 20px;
        color: white;
        padding-right: 45px;
        padding-left: 45px;
    }

    #Start {
        padding: 0px;
        width: 100vw;
        height: 100vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Game {
        padding: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Game > div {
        padding: 0px;
    }
    
    #Matrix {
        display: grid;
        grid-template-columns: repeat(10, 25px);
        grid-template-rows: repeat(15, 25px);
        padding: 2px;
        background-color: grey;
        border: 10px solid #333;
    }
    
    .cell {
        background-color: black;
        /*margin: 1px;*/
        /*border-radius: 4px;*/
        width: 25px;
        height: 25px;
    }
    
    #Panel {
        display: flex;
        padding: 0px;
        margin-bottom: 2px;
    }

    #Panel > div {
        padding: 0px;
    }
    
    #left-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #social-buttons {
        font-size: 35px;
        width: fit-content;
        background-color: white;
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        padding: 3px;
        margin: 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    #social-buttons > a {
        padding-left: 15px;
        padding-right: 15px;
    }

    #MobileControls {
        display: flex;
        justify-content: center;
        font-size: 30px !important;
    }

    #MobileControls > div > button {
        border-radius: 5px !important;
        width: 55px !important;
        margin: 2px !important;
        touch-action: manipulation  !important;
        font-size: 28px !important;
        border: 2px solid black
    }
}

@media only screen and (max-height: 679px)  {
    #social-buttons {
        display: none
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Color classes for the Tetrominos */
.I {
    background-color: cyan !important;
    border: 1px solid grey;
}

.J {
    background-color: blue !important;
    border: 1px solid grey;
}

.L {
    background-color: rgb(224, 146, 0) !important;
    border: 1px solid grey;
}

.O {
    background-color: yellow !important;
    border: 1px solid grey;
}

.S {
    background-color: lime !important;
    border: 1px solid grey;
}

.T {
    background-color: purple !important;
    border: 1px solid grey;
}

.Z {
    background-color: red !important;
    border: 1px solid grey;
}

.ghost {
    filter: brightness(50%);
}