@media only screen and (min-width: 750px)  {
    #PauseButton {
        font-size: 30px;
        background-color: #333;
        color: #FFF;
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
        display: inline-block;
        margin-bottom: 50px;
    }

    .paused {
        background-color: #FFF !important;
        color: #000 !important;
        padding: 3px 13px 3px 13px;
        border: 2px solid black;
    }

    .paused > #PauseIcon {
        padding-right: 10px;
    }
}